.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font-family: 'Slabo 27px', serif
  font: 12px
}

.link {
  fill: none;
  stroke: #606060;
  stroke-width: 2px;
}

#app-name {
  font-weight: bolder;
}

h1 {
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

body {
 font-family: 'Slabo 27px', serif;
 background-image: url("background-pattern-grey.png");
 background-size: 100px;
}

.curr-node {
	border: 2px solid #707070;;
  background-color: white;
	width: 300px;
	position: relative;
    -webkit-box-shadow: 0 3px 3px #3c3c40;
     -moz-box-shadow: 0 3px 3px #3c3c40;
          box-shadow: 0 3px 3px #3c3c40;

}

.curr-node .remove-task-button {
  /*float: right;*/
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}


.curr-node-title {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.add-task {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	/*position: absolute;*/
}

.add-task-title,span {
	padding-top: 5px;
}

.task-complete-checkbox {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}


ul#horizontal  {
/*  border: 1px solid #292929;*/
  margin: 0;
  padding-left: 140px;
  width: 850px;
  margin-bottom: 50px;

  -webkit-box-shadow: 0 3px 3px #3c3c40;
     -moz-box-shadow: 0 3px 3px #3c3c40;
          box-shadow: 0 3px 3px #3c3c40;

}

ul#horizontal li {
  list-style: none;
  float: left;
}

ul#horizontal li a {
  vertical-align: text-middle;
  text-align: center;
  height: 30px;
  width: 100px;
  line-height: 30px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;

  border-right: 1px solid #323235;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  background-image: -moz-linear-gradient(top, #909090, #909090);
  background-image: -ms-linear-gradient(top, #909090, #909090);
  background-image: -webkit-linear-gradient(top, #909090, #909090);
  background-image: linear-gradient(top, #909090, #909090);

  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
     -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
          box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;

}

ul#horizontal li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-image: -moz-linear-gradient(top, #565658, #313132);
  background-image: -ms-linear-gradient(top, #565658, #313132);
  background-image: -webkit-linear-gradient(top, #565658, #313132);
  background-image: linear-gradient(top, #565658, #313132);

  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
      -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
           box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}

ul#horizontal li a:active  {
  background: #414142;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
           box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}

ul#horizontal li:first-child a {
  border-left: none;
}

ul#horizontal li:last-child a  {
  border-right: none;
}



/* ---------- Vertical --------*/
ul#vertical {
  margin: 0;
  padding: 0;
  width: 160px;
  text-align: center;
}

ul#vertical li  {
  list-style-type: none;
  height: 60px;

  background-image: -moz-linear-gradient(top, #606060, #606060);
  background-image: -ms-linear-gradient(top, #606060, #606060);
  background-image: -webkit-linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(top, #606060, #606060);
}

ul#vertical li a  {
  border-bottom: 1px solid #292929;
  display: block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
     -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2);
}

ul#vertical li a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  background-color: #989898;

  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
      -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
           box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
}

ul#vertical li a:active {
  background-color: #414142;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
           box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}

#goal-tree {
  float: right;
}


