<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>d3 and Angular</title>
    <meta name="description" content="d3 and Angular">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="src/app.js"></script>
    <script src="src/services/d3.js"></script>
    <script src="src/directives/d3Basic.js"></script>
    <script src="src/controllers/d3Ctrl.js"></script>
   
  </head>
  <body ng-app="myApp">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">GoalTree</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><hr></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" ng-controller="d3Ctrl">
        <div class="curr-node">
          <div class="curr-node-title">
            {{currNode.title}}
          </div>
          <div class="add-task">
            <span class="add-task-title"> -- Add Subtask</span><br>            
            <span>Title: </span>
            <input type="text" ng-model="newTask.title"><button ng-click="addTask()">Add</button>
          </div>
          <div class="task-complete-checkbox">
            <form>
              -- Task Completed? <input type="checkbox" ng-model="currNode.completed">
            </form>   
          </div>
        </div>
        
        <d3-tree data="d3Data" on-click="d3OnClick(item)"></d3-tree>
      </div>
    </div>


  </body>
</html>