.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.curr-node {
	border: solid;
	border-width: 2px;
	width: 300px;
	position: relative;
	background-color: lightblue;

}

.add-task {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	/*position: absolute;*/
}

.curr-node-title {
	font-weight: bold;
}

.add-task-title,span {
	padding-top: 5px;
}

.task-complete-checkbox {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}


h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

body {
 font-family: "Times New Roman", Times, serif;
}

ul {
 width: 200px;
 background: #292929;
 color: white;
 list-style: none;
 padding-left: 0;
}

li {
 padding: 10px;
 border-bottom: 1px solid black;
 border-top: 1px solid #3c3c3c;
}

li:hover {
  background: lightblue;
}

.navigation {
  padding-left: 30px;
}

.navigation a {
  text-decoration: none;
  color: #292929;
  padding: 10px;
}
.navigation a:focus, a:hover {
  background-color: lightblue;
}

.goals {
  padding-top: 30px;
}

#goal-tree {
  float: right;
}

.goallist a { text-decoration: none; color:white; }
.goallist a:visited { text-decoration: none; color:white; }
.goallist a:hover { text-decoration: none; color:white; }
.goallist a:focus { text-decoration: none; color:white; }
.goallist a:hover { text-decoration: none; color:white; }


